//- dataedit structure
#dataedit
    .back-button
        svg.back-icon: use(href="#svg-cross-icon")
    .content
        textarea#data-meta-edit 
        input#data-label-edit 
        textarea#data-content-edit
    .accept-button
        svg.accept-icon: use(href="#svg-check-icon") 
